{% extends "base.html" %}
{% load static %}

{% block title %}unseen | Digital Photo Exhibition{% endblock %}

{% block main %}
<main class="home">
    <section class="home__photo hidden--mobile" style="background-image: url('{% static 'images/Nichole_Sobecki.jpg' %}')"></section>
    <section class="home__info home__info--desktop">
        <div class="home__title-container">
            <h1 class="home__title"><em>unseen</em></h1>
            <h1 class="home__subtitle">Digital Photo Exhibition</h1>
            <h3 class="home__description">
                works by <a href="/about/artist">Nichole Sobecki</a>
            </h3>
        </div>

        <div class="home__presented-by">
            <p class="home__presented-by-text">
                presented by
                <span class="hidden--lg">the Oregon Shakespeare Festival</span>
            </p>
            
            <img class="home__logo hidden--mobile" src="{% static 'images/logos/OSF_logo_Reg_white.png' %}"
                alt="Oregon Shakespeare Festival" />
            <p class="home__presented-by-text">in conversation with the West Coast Premiere of Mona Mansour's <em>unseen</em></p>
        </div>
        <section class="home__photo home__photo--mobile hidden--lg" style="background-image: url('{% static 'images/Nichole_Sobecki.jpg' %}')"></section>


        <!-- <img class="home__photo home__photo--mobile hidden--lg" src="{% static 'images/Nichole_Sobecki.jpg' %}"
                alt="Portrait of the artist, Nichole Sobecki" /> -->

        <div class="home__enter">
            <p class="home__enter-text">
                You are invited to engage with Sobecki's work and share your response with other audience members.
            </p>
            <h2 class="home__enter-link">
                <a href="/welcome/">Enter</a>
            </h2>
        </div>
    </section>
</main>
{% endblock %}