.gallery {
  &__photos {
    // display: flex;
    width: 100%;
    position: relative;
    display: flex;
    transition: all 250ms linear;
    -ms-overflow-style: none;  /* hide scrollbar in IE and Edge */
    scrollbar-width: none;  /* hide scrollbar in Firefox */

    &::-webkit-scrollbar, &::-moz-scrollbar {
      display: none;
    }
  }

  /* hide scrollbar in webkit browser */

  &__photos-wrapper {
    overflow: hidden;
    width: 100%;
  }


  &__continue {
    display: flex;
    justify-content: center;
  }

  &__controls {
    display: flex;
    justify-content: space-between;
    margin: $space-ms $space-md;

    @media (min-width: $tablet) {
      margin: $space-md $space-xl;
    }
  }
}