body {
  @include cr-light;
}

h1 {
  font-size: $font-xl;
}

h2 {
  font-size: $font-lg;
}

h3 {
  font-size: $font-md;
}

p {
  font-size: $font-sm;
}

em {
  @include cr-light-italic;
}

strong {
  @include cr-bold;
}

a {
  color: $black;
  text-decoration: underline;
  @include transition;

  &:hover {
    color: $osf-red;
  }
}

img {
  max-width: 100%;
}

.link {
  &--unstyled {
    text-decoration: none;
  }
}
