* {
  box-sizing: border-box;
}

body {
  @include cr-light;
}

h1 {
  font-size: $font-xl;

  @media (max-width: $mobile-lg){
    font-size: $font-lg;
  }
}

h2 {
  font-size: $font-lg;

  @media (max-width: $mobile-lg){
    font-size: $font-md;
  }
}

h3 {
  font-size: $font-md;

  @media (max-width: $mobile-lg){
    font-size: $font-sm;
  }
}

p {
  font-size: $font-sm;

  @media (max-width: $mobile-lg){
    font-size: $font-s;
  }
}

em {
  @include cr-light-italic;
}

strong {
  @include cr-bold;
}

a {
  color: $black;
  text-decoration: underline;
  @include transition;

  &:hover {
    color: $osf-red;
  }
}

img {
  max-width: 100%;
}

.link {
  &--unstyled {
    text-decoration: none;
  }
}

.hidden {
  display: none !important;

  &--mobile {
    @media(max-width: $mobile-lg){
      display: none !important;
    }
  }

  &--tablet {
    @media(max-width: $tablet){
      display: none !important;
    }
  }

  &--md {
    @media(min-width: $tablet){
      display: none !important;
    }
  }

  &--lg {
    @media(min-width: $mobile-lg){
      display: none !important;
    }
  }

  &--desktop {
    @media(min-width: $tablet){
      display: none !important;
    }
  }
  
}
