@font-face {
  font-family: "cormorant-garamond-regular";
  src: url("../../fonts/Cormorant_Garamond/CormorantGaramond-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "cormorant-garamond-light";
  src: url("../../fonts/Cormorant_Garamond/CormorantGaramond-Light.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "cormorant-garamond-light-italic";
  src: url("../../fonts/Cormorant_Garamond/CormorantGaramond-LightItalic.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "cormorant-garamond-bold";
  src: url("../../fonts/Cormorant_Garamond/CormorantGaramond-Bold.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "cormorant-garamond-italic";
  src: url("../../fonts/Cormorant_Garamond/CormorantGaramond-Italic.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "cormorant-garamond-bold-italic";
  src: url("../../fonts/Cormorant_Garamond/CormorantGaramond-BoldItalic.ttf");
  font-weight: normal;
  font-style: normal;
}
