// Fonts
@mixin cr-regular {
  font-family: "Cormorandt Garamond", Garamond, serif;
}

@mixin cr-light {
  font-family: "Cormorandt Garamond", Garamond, serif;
  font-weight: lighter;
}

@mixin cr-light-italic {
  font-family: "Cormorandt Garamond", Garamond, serif;
  font-weight: lighter;
  font-style: italic;
}

@mixin cr-bold {
  font-family: "Cormorandt Garamond", Garamond, serif;
  font-weight: bold;
}

@mixin cr-bold-italic {
  font-family: "Cormorandt Garamond", Garamond, serif;
  font-weight: bold;
  font-style: italic;
}

@mixin ssp-regular {
  font-family: "Source Serif Pro", Garamond, serif;
}

@mixin ssp-light {
  font-family: "Source Serif Pro", Garamond, serif;
  font-weight: lighter;
}

@mixin ssp-light-italic {
  font-family: "Source Serif Pro", Garamond, serif;
  font-weight: lighter;
  font-style: italic;
}

@mixin ssp-bold {
  font-family: "Source Serif Pro", Garamond, serif;
  font-weight: bold;
}

@mixin ssp-bold-italic {
  font-family: "Source Serif Pro", Garamond, serif;
  font-weight: bold;
  font-style: italic;
}

@mixin transition {
  transition: all 200ms ease-in;
}

@mixin bw-image {
  @include transition;
  filter: saturate(0%);

  &:hover {
    filter: saturate(100%);
  }
}

@mixin black-bg {
  background-color: $black;
  color: $white;

  a {
    color: $white;
    @include transition;

    &:hover {
      color: $osf-red;
    }
  }
}

@mixin icon {
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-position: center;
  mask-size: contain;
  -webkit-mask-size: contain;
}

@mixin force-landscape {
  @media screen and (max-width: $mobile-lg) and (orientation: portrait) {
      transform: rotate(-90deg);
      transform-origin: left top;
      width: 100vh;
      height: 100vw;
      overflow-x: hidden;
      position: absolute;
      top: 100%;
      left: 0;
  }
}
