// Colors
$black: #000;
$white: #FFF;
$osf-red: #D31345;

// Spacing
$space-base: 4px;
$space-xs: $space-base;
$space-sm: $space-base * 2;
$space-ms: $space-base * 4;
$space-md: $space-base * 6;
$space-lg: $space-base * 10;
$space-xl: $space-base * 14;
$space-xxl: $space-base * 36;

// Font sizes
$font-xs: 16px;
$font-sm: 24px;
$font-md: 32px;
$font-lg: 48px;
$font-xl: 64px;
