.button {
  @include cr-light;
  @include transition;

  background-color: $black;
  color: $white;
  border: none;
  box-shadow: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-size: $font-xs;

  &--about {
    margin-right: $space-md;
  }

  &--photo-convo {
    color: $black;
    background-color: $white;
  }

  &:hover {
    background-color: $osf-red;
  }
}

.control-button {
  @include transition;
  display: flex;
  background: none;
  border: none;
  
  &__text {
    @include cr-light;
    text-decoration: underline;
    font-size: $font-md;
    line-height: 36px;
  }

  &:hover {
    color: $osf-red;

    .icon {
      background-color: $osf-red;
    }
  }
}