.button {
  @include cr-light;
  @include transition;

  background-color: $black;
  color: $white;
  border: none;
  box-shadow: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-size: $font-xs;

  &--about {
    margin-right: $space-md;
  }

  &--photo-convo {
    color: $black;
    background-color: $white;
    margin-right: $space-md;
  }

  &--photo-convo-active {
    color: $white;
    background-color: $darkGrey;
  }

  &--fs {
    position: absolute;
    bottom: $space-xl;
    right: $space-lg;
  }

  &:hover {
    background-color: $osf-red;
  }
}

.control-button {
  @include transition;
  @include cr-light;

  display: flex;
  background: none;
  border: none;
  text-decoration: underline;
  font-size: $font-md;
  line-height: 36px;
  color: $white;
  cursor: pointer;

  &--gallery {
    color: $black;
  }

  &--fs {
    padding: $space-sm $space-md;
  }

  &--previous-convo, &--next-convo {
    font-size: $font-sm;
    line-height: 32px;
  }

  &--close-fs, &--previous-fs {
    padding-right: $space-xl;
    background-image: -webkit-linear-gradient(
      to right,
      $black,
      rgba(0, 0, 0, 0)
    );
    background-image: -moz-linear-gradient(to right, $black, rgba(0, 0, 0, 0));
    background-image: linear-gradient(to right, $black, rgba(0, 0, 0, 0));
  }

  &--close-fs {
    margin-bottom: $space-xs;
  }

  &--next-fs {
    padding-left: $space-xl;
    background-image: -webkit-linear-gradient(
      to left,
      $black,
      rgba(0, 0, 0, 0)
    );
    background-image: -moz-linear-gradient(to left, $black, rgba(0, 0, 0, 0));
    background-image: linear-gradient(to left, $black, rgba(0, 0, 0, 0));
  }

  &:hover {
    color: $osf-red;

    .icon {
      background-color: $osf-red;
    }
  }
}
