.g-photo {
  @include bw-image;

  width: calc(100%/3);
  flex-shrink: 0;
  flex-grow: 1;
  text-align: center;

  &__image {
    @include transition;
    max-width: 80%;
    margin: 0 auto;
  }

  &__info {
    margin: $space-ms;
  }

  &__title {
    @include cr-light-italic;
    font-size: $font-md;
    margin-bottom: $space-xs;
  }
}
