@mixin previous-icon {
  -webkit-mask-image: url("../images/icons/arrow_back.svg");
    mask-image: url("../images/icons/arrow_back.svg");
}

@mixin next-icon {
  -webkit-mask-image: url("../images/icons/arrow_forward.svg");
    mask-image: url("../images/icons/arrow_forward.svg");
}

@mixin close-icon {
  -webkit-mask-image: url("../images/icons/close.svg");
    mask-image: url("../images/icons/close.svg");
}

.icon {
  @include icon;
  @include transition;

  display: inline-block;
  height: 36px;
  width: 36px;

  &--previous-gallery, &--previous-fs, &--previous-convo  {
    @include previous-icon;
    background-color: $black;
    margin-right: $space-xs;
    margin-top: -2px;
  }

  &--next-gallery, &--next-fs, &--next-convo {
    @include next-icon;
    background: $black;
    margin-left: $space-xs;
    margin-top: -2px;
  }


  &--close-fs {
    @include close-icon;
    background: $white;
    margin-right: $space-xs;
    margin-top: -2px;
  }

  &--next-convo, &--previous-convo {
    background-color: $white;
    height: 32px;
    width: 32px;
  }
}
