@mixin previous-icon {
  -webkit-mask-image: url("../images/icons/arrow_back.svg");
    mask-image: url("../images/icons/arrow_back.svg");
}

@mixin next-icon {
  -webkit-mask-image: url("../images/icons/arrow_forward.svg");
    mask-image: url("../images/icons/arrow_forward.svg");
}

@mixin close-icon {
  -webkit-mask-image: url("../images/icons/close.svg");
    mask-image: url("../images/icons/close.svg");
}

@mixin rotate-icon {
  -webkit-mask-image: url("../images/icons/rotate.svg");
    mask-image: url("../images/icons/rotate.svg");
}

@mixin facebook-icon {
  -webkit-mask-image: url("../images/icons/facebook.svg");
    mask-image: url("../images/icons/facebook.svg");
}

@mixin envelope-icon {
  -webkit-mask-image: url("../images/icons/envelope.svg");
    mask-image: url("../images/icons/envelope.svg");
}

@mixin twitter-icon {
  -webkit-mask-image: url("../images/icons/twitter.svg");
    mask-image: url("../images/icons/twitter.svg");
}


.icon {
  @include icon;
  @include transition;

  display: inline-block;
  height: 36px;
  width: 36px;
  background-color: $black;

  &--previous-gallery, &--previous-fs, &--previous-convo  {
    @include previous-icon;
    margin-right: $space-xs;
    margin-top: -2px;
  }

  &--next-gallery, &--next-fs, &--next-convo {
    @include next-icon;
    margin-left: $space-xs;
    margin-top: -2px;
  }

  &--control-button {
    @media (max-width: $mobile-lg){
      height: 24px;
      width: 24px;
    }
  }

  &--close-fs {
    @include close-icon;
    margin-right: $space-xs;
    margin-top: -2px;
  }

  &--close-fs, &--next-fs, &--previous-fs {
    background-color: $white;
  }

  &--next-convo, &--previous-convo {
    background-color: $white;
    height: 32px;
    width: 32px;
  }

  &--rotate {
    @include rotate-icon;
    background-color: $white;
  }

  &--social {
    background-color: $white;
    margin-left: $space-sm;
  }

  &--facebook {
    @include facebook-icon;
  }

  &--twitter {
    @include twitter-icon;
  }

  &--envelope {
    @include envelope-icon;
  }
}

.IN-widget {
  opacity: 0;
  min-height: 100%;
}