{% load static %}

<!doctype html>
<html lang="en-US">

<head>
    <meta charset="utf-8" />
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" href="{% static 'images/favicon.png' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="unseen is a digital photo exhibition presented by the Oregon Shakespeare Festival in conversation with the West Coast premiere of Mona Mansaur's unseen.">

    <!-- Google Tag Manager -->

    <script>
    (function(w,d,s,l,i){
        w[l]=w[l]||[];
        w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});
        var f=d.getElementsByTagName(s)[0], j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';
        j.async=true;
        j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;
        f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-P8QBJV2');
    </script>
    
    <!-- End Google Tag Manager -->

    {% block social_meta %}{% endblock %}
</head>

{% block header %}{% endblock %}

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe
            src="https://www.googletagmanager.com/ns.html?id=GTM-P8QBJV2"
            height="0" width="0"
            style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    {% block main %}{% endblock %}
</body>

{% block footer %}{% endblock %}

<script type="text/javascript" src="{% static 'js/main.js' %}"></script>
{% block extra_js %}{% endblock %}

</html>