/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

body {
  font-family: "cormorant-garamond-light", serif;
  font-weight: lighter; }

h1 {
  font-size: 64px; }

h2 {
  font-size: 48px; }

h3 {
  font-size: 32px; }

p {
  font-size: 24px; }

em {
  font-family: "cormorant-garamond-light-italic", serif;
  font-weight: lighter;
  font-style: italic; }

strong {
  font-family: "cormorant-garamond-bold", serif;
  font-weight: bold; }

a {
  color: #000;
  text-decoration: underline;
  transition: all 200ms ease-in; }
  a:hover {
    color: #D31345; }

img {
  max-width: 100%; }

.link--unstyled {
  text-decoration: none; }

.footer {
  display: flex;
  justify-content: center;
  padding: 40px 0;
  width: 100%; }
  .footer--conversation {
    background-color: #000;
    color: #FFF; }
    .footer--conversation a {
      color: #FFF;
      transition: all 200ms ease-in; }
      .footer--conversation a:hover {
        color: #D31345; }
    .footer--conversation .footer__content {
      border-color: #FFF; }
  .footer__content {
    display: flex;
    border-top: 1px solid #000;
    padding: 16px; }
  .footer__text-content {
    margin-left: 16px; }
  .footer__logo {
    width: 111px; }
  .footer__text {
    font-size: 16px;
    margin: 8px 0; }

.header {
  padding-top: 40px;
  padding-bottom: 24px;
  width: 100%;
  text-align: center; }
  .header__title {
    margin-bottom: 24px; }
  .header__title-name {
    font-family: "cormorant-garamond-light-italic", serif;
    font-weight: lighter;
    font-style: italic;
    font-style: italic; }
  .header--conversation {
    background-color: #000;
    color: #FFF; }
    .header--conversation a {
      color: #FFF;
      transition: all 200ms ease-in; }
      .header--conversation a:hover {
        color: #D31345; }

.nav__links {
  margin-bottom: 8px;
  font-size: 24px; }

.button {
  font-family: "cormorant-garamond-light", serif;
  font-weight: lighter;
  transition: all 200ms ease-in;
  background-color: #000;
  color: #FFF;
  border: none;
  box-shadow: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px; }
  .button--about {
    margin-right: 24px; }
  .button--photo-convo {
    color: #000;
    background-color: #FFF;
    margin-right: 24px; }
  .button--photo-convo-active {
    color: #FFF;
    background-color: #333; }
  .button--fs {
    position: absolute;
    bottom: 64px;
    right: 40px; }
  .button:hover {
    background-color: #D31345; }

.control-button {
  transition: all 200ms ease-in;
  font-family: "cormorant-garamond-light", serif;
  font-weight: lighter;
  display: flex;
  background: none;
  border: none;
  text-decoration: underline;
  font-size: 32px;
  line-height: 36px;
  color: #FFF;
  cursor: pointer; }
  .control-button--gallery {
    color: #000; }
  .control-button--fs {
    padding: 8px 24px; }
  .control-button--previous-convo, .control-button--next-convo {
    font-size: 24px;
    line-height: 32px; }
  .control-button--close-fs, .control-button--previous-fs {
    padding-right: 64px;
    background-image: -webkit-linear-gradient(to right, #000, rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(to right, #000, rgba(0, 0, 0, 0));
    background-image: linear-gradient(to right, #000, rgba(0, 0, 0, 0)); }
  .control-button--close-fs {
    margin-bottom: 4px; }
  .control-button--next-fs {
    padding-left: 64px;
    background-image: -webkit-linear-gradient(to left, #000, rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(to left, #000, rgba(0, 0, 0, 0));
    background-image: linear-gradient(to left, #000, rgba(0, 0, 0, 0)); }
  .control-button:hover {
    color: #D31345; }
    .control-button:hover .icon {
      background-color: #D31345; }

.convo-item {
  max-width: 100%;
  display: grid;
  grid-template-columns: 400px auto;
  grid-gap: 40px;
  margin-bottom: 64px; }
  .convo-item__image {
    transition: all 200ms ease-in;
    filter: saturate(0%);
    width: 100%;
    max-width: 400px; }
    .convo-item__image:hover {
      filter: saturate(100%); }
  .convo-item__title {
    font-size: 32px;
    font-style: italic;
    border-bottom: 1px solid #FFF;
    margin-bottom: 16px; }
  .convo-item__text {
    margin: 16px 0; }
  .convo-item__name {
    font-family: "cormorant-garamond-light-italic", serif;
    font-weight: lighter;
    font-style: italic; }

.g-photo {
  transition: all 200ms ease-in;
  filter: saturate(0%);
  width: calc(100%/3);
  flex-shrink: 0;
  flex-grow: 1;
  text-align: center; }
  .g-photo:hover {
    filter: saturate(100%); }
  .g-photo__image {
    transition: all 200ms ease-in;
    max-width: 80%;
    margin: 0 auto; }
  .g-photo__info {
    margin: 16px; }
  .g-photo__title {
    font-family: "cormorant-garamond-light-italic", serif;
    font-weight: lighter;
    font-style: italic;
    font-size: 32px;
    margin-bottom: 4px; }

.icon {
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-position: center;
  mask-size: contain;
  -webkit-mask-size: contain;
  transition: all 200ms ease-in;
  display: inline-block;
  height: 36px;
  width: 36px; }
  .icon--previous-gallery, .icon--previous-fs, .icon--previous-convo {
    -webkit-mask-image: url("../images/icons/arrow_back.svg");
    mask-image: url("../images/icons/arrow_back.svg");
    background-color: #000;
    margin-right: 4px;
    margin-top: -2px; }
  .icon--next-gallery, .icon--next-fs, .icon--next-convo {
    -webkit-mask-image: url("../images/icons/arrow_forward.svg");
    mask-image: url("../images/icons/arrow_forward.svg");
    background: #000;
    margin-left: 4px;
    margin-top: -2px; }
  .icon--close-fs {
    -webkit-mask-image: url("../images/icons/close.svg");
    mask-image: url("../images/icons/close.svg");
    background: #FFF;
    margin-right: 4px;
    margin-top: -2px; }
  .icon--next-convo, .icon--previous-convo {
    background-color: #FFF;
    height: 32px;
    width: 32px; }

.show {
  opacity: 1; }

.quotes {
  background-color: #000;
  color: #FFF;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 64px 144px; }
  .quotes a {
    color: #FFF;
    transition: all 200ms ease-in; }
    .quotes a:hover {
      color: #D31345; }
  .quotes * {
    transition: all 1000ms ease-in; }
  .quotes__quote {
    font-family: "cormorant-garamond-light-italic", serif;
    font-weight: lighter;
    font-style: italic;
    margin-bottom: 24px; }
  .quotes__attribute {
    width: 100%;
    text-align: right;
    margin-bottom: 24px; }
  .quotes__text {
    margin-bottom: 24px; }
  .quotes__continue {
    width: 100%;
    text-align: right;
    margin-bottom: 24px; }
  .quotes #quote,
  .quotes #attribute,
  .quotes #text,
  .quotes #button {
    opacity: 0; }

.home {
  background-color: #000;
  color: #FFF;
  height: 100vh;
  display: grid;
  grid-template-columns: 600px auto; }
  .home a {
    color: #FFF;
    transition: all 200ms ease-in; }
    .home a:hover {
      color: #D31345; }
  .home__photo {
    filter: saturate(0%);
    max-height: 100vh;
    background-size: cover;
    background-position: center; }
  .home__info {
    max-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 24px 40px; }
  .home__presented-by {
    max-width: 60%; }
  .home__logo {
    width: 200px;
    padding: 4px 0; }
  .home__enter-link {
    text-align: right;
    padding-right: 64px; }

.gallery {
  /* hide scrollbar in webkit browser */ }
  .gallery__photos {
    width: 100%;
    position: relative;
    display: flex;
    transition: all 250ms linear;
    -ms-overflow-style: none;
    /* hide scrollbar in IE and Edge */
    scrollbar-width: none;
    /* hide scrollbar in Firefox */ }
    .gallery__photos::-webkit-scrollbar, .gallery__photos::-moz-scrollbar {
      display: none; }
  .gallery__photos-wrapper {
    overflow: hidden;
    width: 100%; }
  .gallery__continue {
    display: flex;
    justify-content: center; }
  .gallery__controls {
    margin: 24px 64px;
    display: flex;
    justify-content: space-between; }

.conversation {
  background-color: #000;
  color: #FFF;
  padding-bottom: 16px; }
  .conversation a {
    color: #FFF;
    transition: all 200ms ease-in; }
    .conversation a:hover {
      color: #D31345; }
  .conversation__intro {
    text-align: center;
    padding: 40px; }
  .conversation__intro-text {
    font-size: 32px; }
  .conversation__list {
    padding: 0 144px;
    margin: 0 auto; }

.photo-convo {
  background-color: #000;
  color: #FFF;
  padding: 4px 40px; }
  .photo-convo a {
    color: #FFF;
    transition: all 200ms ease-in; }
    .photo-convo a:hover {
      color: #D31345; }
  .photo-convo__section {
    max-width: 750px;
    margin: 24px auto;
    display: flex;
    flex-flow: row wrap; }
  .photo-convo__response-container {
    padding: 24px; }
  .photo-convo__image-container {
    display: flex;
    justify-content: center; }
  .photo-convo__button-container {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .photo-convo__nav {
    height: fit-content; }
  .photo-convo__image {
    max-width: 650px; }
  .photo-convo__form {
    transition: all 200ms ease-in;
    display: block;
    max-width: 650px;
    max-height: 650px;
    margin: 0 auto;
    overflow: hidden; }
    .photo-convo__form--hidden {
      display: none;
      max-height: 0px; }
  .photo-convo__input {
    display: block;
    width: 100%;
    margin-bottom: 4px;
    min-height: 28px;
    border-radius: 3px;
    border: 2px solid #555; }
    .photo-convo__input:focus {
      border-color: #D31345; }
    .photo-convo__input--names {
      display: inline-block; }
    .photo-convo__input--consent {
      display: grid;
      place-content: center;
      appearance: none;
      background-color: #000;
      margin: 0;
      font: inherit;
      color: #D31345;
      width: 18px;
      min-height: unset;
      height: 18px;
      border: 2px solid #D31345;
      border-radius: 2px;
      transform: translateY(-0.075em);
      margin-top: 16px; }
      .photo-convo__input--consent::before {
        content: "";
        width: 10px;
        height: 10px;
        transform: scale(0);
        box-shadow: inset 12px 12px #D31345;
        transform-origin: bottom left;
        clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%); }
      .photo-convo__input--consent:checked::before {
        transform: scale(1); }
  .photo-convo__label {
    display: block;
    padding: 8px 0; }
  .photo-convo__input-container {
    margin-bottom: 8px; }
    .photo-convo__input-container#first_name_container, .photo-convo__input-container#last_name_container {
      display: inline-block;
      width: 48%; }
    .photo-convo__input-container#first_name_container {
      margin-right: 22px; }
    .photo-convo__input-container#consent_to_share_container {
      display: grid;
      grid-template-columns: 20px auto;
      grid-gap: 8px; }
  .photo-convo__form-button {
    display: block;
    margin: 0 auto; }

.about {
  padding: 24px 144px; }
  .about__image {
    max-width: 450px;
    float: left; }
    .about__image--playwright {
      margin-left: 40px;
      float: right; }
    .about__image--artist {
      margin-right: 40px;
      margin-bottom: 40px; }
  .about__text {
    margin: 40px 0; }
    .about__text:first-of-type {
      margin-top: 0; }
  .about__show-info {
    display: flex;
    flex-direction: column;
    justify-content: end; }
  .about__show-title {
    font-family: "cormorant-garamond-bold-italic", serif;
    font-weight: bold;
    font-style: italic;
    font-size: 48px; }
  .about__show-image {
    max-width: 100%; }
  .about__show-text-container {
    margin-bottom: 40px; }
  .about__show-dates {
    font-family: "cormorant-garamond-bold-italic", serif;
    font-weight: bold;
    font-style: italic;
    margin-bottom: 24px; }
  .about__show-info-container {
    display: grid;
    grid-template-columns: 450px auto;
    grid-gap: 64px;
    padding-bottom: 40px; }

.fs-photo {
  position: fixed;
  top: 0;
  bottom: 0;
  background-color: #000;
  width: 100%;
  display: flex;
  justify-content: center; }
  .fs-photo__control-wrapper {
    position: fixed;
    top: 40px;
    width: 100%; }
  .fs-photo__controls {
    display: flex;
    justify-content: space-between; }
  .fs-photo__wrapper {
    position: relative; }
  .fs-photo__image {
    max-height: 100vh;
    margin: 0 auto; }
  .fs-photo__info-wrapper {
    position: absolute;
    bottom: 0;
    right: 0; }
  .fs-photo__info {
    background-color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 24px; }
  .fs-photo__title {
    font-size: 20px;
    border-right: 1px solid #000;
    padding-right: 4px; }
  .fs-photo__description {
    padding-left: 4px;
    font-size: 16px; }
