/* source-serif-pro-300italic - latin */
@font-face {
  font-family: "Source Serif Pro";
  font-style: italic;
  font-weight: 300;
  src: url("../../fonts/source-serif-pro-v15-latin-300italic.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../../fonts/source-serif-pro-v15-latin-300italic.eot?#iefix") format("embedded-opentype"), url("../../fonts/source-serif-pro-v15-latin-300italic.woff2") format("woff2"), url("../../fonts/source-serif-pro-v15-latin-300italic.woff") format("woff"), url("../../fonts/source-serif-pro-v15-latin-300italic.ttf") format("truetype"), url("../../fonts/source-serif-pro-v15-latin-300italic.svg#SourceSerifPro") format("svg");
  /* Legacy iOS */ }

/* source-serif-pro-200italic - latin */
@font-face {
  font-family: "Source Serif Pro";
  font-style: italic;
  font-weight: 200;
  src: url("../../fonts/source-serif-pro-v15-latin-200italic.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../../fonts/source-serif-pro-v15-latin-200italic.eot?#iefix") format("embedded-opentype"), url("../../fonts/source-serif-pro-v15-latin-200italic.woff2") format("woff2"), url("../../fonts/source-serif-pro-v15-latin-200italic.woff") format("woff"), url("../../fonts/source-serif-pro-v15-latin-200italic.ttf") format("truetype"), url("../../fonts/source-serif-pro-v15-latin-200italic.svg#SourceSerifPro") format("svg");
  /* Legacy iOS */ }

/* source-serif-pro-regular - latin */
@font-face {
  font-family: "Source Serif Pro";
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/source-serif-pro-v15-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../../fonts/source-serif-pro-v15-latin-regular.eot?#iefix") format("embedded-opentype"), url("../../fonts/source-serif-pro-v15-latin-regular.woff2") format("woff2"), url("../../fonts/source-serif-pro-v15-latin-regular.woff") format("woff"), url("../../fonts/source-serif-pro-v15-latin-regular.ttf") format("truetype"), url("../../fonts/source-serif-pro-v15-latin-regular.svg#SourceSerifPro") format("svg");
  /* Legacy iOS */ }

/* source-serif-pro-italic - latin */
@font-face {
  font-family: "Source Serif Pro";
  font-style: italic;
  font-weight: 400;
  src: url("../../fonts/source-serif-pro-v15-latin-italic.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../../fonts/source-serif-pro-v15-latin-italic.eot?#iefix") format("embedded-opentype"), url("../../fonts/source-serif-pro-v15-latin-italic.woff2") format("woff2"), url("../../fonts/source-serif-pro-v15-latin-italic.woff") format("woff"), url("../../fonts/source-serif-pro-v15-latin-italic.ttf") format("truetype"), url("../../fonts/source-serif-pro-v15-latin-italic.svg#SourceSerifPro") format("svg");
  /* Legacy iOS */ }

/* source-serif-pro-600 - latin */
@font-face {
  font-family: "Source Serif Pro";
  font-style: normal;
  font-weight: 600;
  src: url("../../fonts/source-serif-pro-v15-latin-600.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../../fonts/source-serif-pro-v15-latin-600.eot?#iefix") format("embedded-opentype"), url("../../fonts/source-serif-pro-v15-latin-600.woff2") format("woff2"), url("../../fonts/source-serif-pro-v15-latin-600.woff") format("woff"), url("../../fonts/source-serif-pro-v15-latin-600.ttf") format("truetype"), url("../../fonts/source-serif-pro-v15-latin-600.svg#SourceSerifPro") format("svg");
  /* Legacy iOS */ }

/* source-serif-pro-600italic - latin */
@font-face {
  font-family: "Source Serif Pro";
  font-style: italic;
  font-weight: 600;
  src: url("../../fonts/source-serif-pro-v15-latin-600italic.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../../fonts/source-serif-pro-v15-latin-600italic.eot?#iefix") format("embedded-opentype"), url("../../fonts/source-serif-pro-v15-latin-600italic.woff2") format("woff2"), url("../../fonts/source-serif-pro-v15-latin-600italic.woff") format("woff"), url("../../fonts/source-serif-pro-v15-latin-600italic.ttf") format("truetype"), url("../../fonts/source-serif-pro-v15-latin-600italic.svg#SourceSerifPro") format("svg");
  /* Legacy iOS */ }

/* cormorant-garamond-300 - latin */
@font-face {
  font-family: "Cormorant Garamond";
  font-style: normal;
  font-weight: 300;
  src: url("../../fonts/cormorant-garamond-v15-latin-300.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../../fonts/cormorant-garamond-v15-latin-300.eot?#iefix") format("embedded-opentype"), url("../../fonts/cormorant-garamond-v15-latin-300.woff2") format("woff2"), url("../../fonts/cormorant-garamond-v15-latin-300.woff") format("woff"), url("../../fonts/cormorant-garamond-v15-latin-300.ttf") format("truetype"), url("../../fonts/cormorant-garamond-v15-latin-300.svg#CormorantGaramond") format("svg");
  /* Legacy iOS */ }

/* cormorant-garamond-300italic - latin */
@font-face {
  font-family: "Cormorant Garamond";
  font-style: italic;
  font-weight: 300;
  src: url("../../fonts/cormorant-garamond-v15-latin-300italic.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../../fonts/cormorant-garamond-v15-latin-300italic.eot?#iefix") format("embedded-opentype"), url("../../fonts/cormorant-garamond-v15-latin-300italic.woff2") format("woff2"), url("../../fonts/cormorant-garamond-v15-latin-300italic.woff") format("woff"), url("../../fonts/cormorant-garamond-v15-latin-300italic.ttf") format("truetype"), url("../../fonts/cormorant-garamond-v15-latin-300italic.svg#CormorantGaramond") format("svg");
  /* Legacy iOS */ }

/* cormorant-garamond-regular - latin */
@font-face {
  font-family: "Cormorant Garamond";
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/cormorant-garamond-v15-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../../fonts/cormorant-garamond-v15-latin-regular.eot?#iefix") format("embedded-opentype"), url("../../fonts/cormorant-garamond-v15-latin-regular.woff2") format("woff2"), url("../../fonts/cormorant-garamond-v15-latin-regular.woff") format("woff"), url("../../fonts/cormorant-garamond-v15-latin-regular.ttf") format("truetype"), url("../../fonts/cormorant-garamond-v15-latin-regular.svg#CormorantGaramond") format("svg");
  /* Legacy iOS */ }

/* cormorant-garamond-italic - latin */
@font-face {
  font-family: "Cormorant Garamond";
  font-style: italic;
  font-weight: 400;
  src: url("../../fonts/cormorant-garamond-v15-latin-italic.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../../fonts/cormorant-garamond-v15-latin-italic.eot?#iefix") format("embedded-opentype"), url("../../fonts/cormorant-garamond-v15-latin-italic.woff2") format("woff2"), url("../../fonts/cormorant-garamond-v15-latin-italic.woff") format("woff"), url("../../fonts/cormorant-garamond-v15-latin-italic.ttf") format("truetype"), url("../../fonts/cormorant-garamond-v15-latin-italic.svg#CormorantGaramond") format("svg");
  /* Legacy iOS */ }

/* cormorant-garamond-600 - latin */
@font-face {
  font-family: "Cormorant Garamond";
  font-style: normal;
  font-weight: 600;
  src: url("../../fonts/cormorant-garamond-v15-latin-600.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../../fonts/cormorant-garamond-v15-latin-600.eot?#iefix") format("embedded-opentype"), url("../../fonts/cormorant-garamond-v15-latin-600.woff2") format("woff2"), url("../../fonts/cormorant-garamond-v15-latin-600.woff") format("woff"), url("../../fonts/cormorant-garamond-v15-latin-600.ttf") format("truetype"), url("../../fonts/cormorant-garamond-v15-latin-600.svg#CormorantGaramond") format("svg");
  /* Legacy iOS */ }

/* cormorant-garamond-600italic - latin */
@font-face {
  font-family: "Cormorant Garamond";
  font-style: italic;
  font-weight: 600;
  src: url("../../fonts/cormorant-garamond-v15-latin-600italic.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../../fonts/cormorant-garamond-v15-latin-600italic.eot?#iefix") format("embedded-opentype"), url("../../fonts/cormorant-garamond-v15-latin-600italic.woff2") format("woff2"), url("../../fonts/cormorant-garamond-v15-latin-600italic.woff") format("woff"), url("../../fonts/cormorant-garamond-v15-latin-600italic.ttf") format("truetype"), url("../../fonts/cormorant-garamond-v15-latin-600italic.svg#CormorantGaramond") format("svg");
  /* Legacy iOS */ }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

h1, h2, h3, h4, h5, h6 {
  font-weight: unset; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

body {
  font-family: "Cormorandt Garamond", Garamond, serif;
  font-weight: lighter; }

h1 {
  font-size: 64px; }
  @media (max-width: 875px) {
    h1 {
      font-size: 48px; } }

h2 {
  font-size: 48px; }
  @media (max-width: 875px) {
    h2 {
      font-size: 32px; } }

h3 {
  font-size: 32px; }
  @media (max-width: 875px) {
    h3 {
      font-size: 24px; } }

p {
  font-size: 24px; }
  @media (max-width: 875px) {
    p {
      font-size: 20px; } }

em {
  font-family: "Cormorandt Garamond", Garamond, serif;
  font-weight: lighter;
  font-style: italic; }

strong {
  font-family: "Cormorandt Garamond", Garamond, serif;
  font-weight: bold; }

a {
  color: #000;
  text-decoration: underline;
  transition: all 200ms ease-in; }
  a:hover {
    color: #D31345; }

img {
  max-width: 100%; }

.link--unstyled {
  text-decoration: none; }

.hidden {
  display: none !important; }
  @media (max-width: 875px) {
    .hidden--mobile {
      display: none !important; } }
  @media (max-width: 1080px) {
    .hidden--tablet {
      display: none !important; } }
  @media (min-width: 1080px) {
    .hidden--md {
      display: none !important; } }
  @media (min-width: 875px) {
    .hidden--lg {
      display: none !important; } }
  @media (min-width: 1080px) {
    .hidden--desktop {
      display: none !important; } }

.footer {
  display: flex;
  justify-content: center;
  padding: 40px 0;
  width: 100%; }
  .footer--conversation {
    background-color: #000;
    color: #FFF; }
    .footer--conversation a {
      color: #FFF;
      transition: all 200ms ease-in; }
      .footer--conversation a:hover {
        color: #D31345; }
    .footer--conversation .footer__content {
      border-color: #FFF; }
  .footer__content {
    display: flex;
    border-top: 1px solid #000;
    padding: 16px; }
  .footer__text-content {
    margin-left: 16px; }
  .footer__logo {
    width: 111px; }
  .footer__text {
    font-size: 16px;
    margin: 8px 0; }

.header {
  padding-top: 40px;
  padding-bottom: 24px;
  width: 100%;
  text-align: center; }
  .header__title {
    margin-bottom: 24px; }
    @media (max-width: 875px) {
      .header__title {
        font-size: 32px; } }
  .header__title-name {
    font-family: "Cormorandt Garamond", Garamond, serif;
    font-weight: lighter;
    font-style: italic;
    font-style: italic; }
  .header--conversation {
    background-color: #000;
    color: #FFF; }
    .header--conversation a {
      color: #FFF;
      transition: all 200ms ease-in; }
      .header--conversation a:hover {
        color: #D31345; }

.nav__links {
  margin-bottom: 8px;
  font-size: 24px; }

.button {
  font-family: "Cormorandt Garamond", Garamond, serif;
  font-weight: lighter;
  transition: all 200ms ease-in;
  background-color: #000;
  color: #FFF;
  border: none;
  box-shadow: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px; }
  .button--about {
    margin-top: 4px;
    margin-right: 24px; }
  .button--photo-convo {
    color: #000;
    background-color: #FFF;
    margin: 0 16px; }
  .button--photo-convo-active {
    color: #FFF;
    background-color: #333; }
  .button--fs {
    position: absolute;
    bottom: 64px;
    right: 40px; }
    @media (max-width: 875px) {
      .button--fs {
        right: 64px; } }
  .button:hover {
    background-color: #D31345; }

.control-button {
  transition: all 200ms ease-in;
  font-family: "Cormorandt Garamond", Garamond, serif;
  font-weight: lighter;
  display: flex;
  background: none;
  border: none;
  text-decoration: underline;
  font-size: 32px;
  line-height: 36px;
  color: #FFF;
  cursor: pointer; }
  @media (max-width: 875px) {
    .control-button {
      font-size: 24px;
      line-height: 24px; } }
  .control-button--gallery {
    color: #000; }
  .control-button--fs {
    padding: 8px 24px; }
  .control-button--previous-convo, .control-button--next-convo {
    font-size: 24px;
    line-height: 32px; }
  .control-button--close-fs, .control-button--previous-fs {
    padding-right: 64px;
    background-image: -webkit-linear-gradient(to right, #000, rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(to right, #000, rgba(0, 0, 0, 0));
    background-image: linear-gradient(to right, #000, rgba(0, 0, 0, 0)); }
  .control-button--close-fs {
    margin-bottom: 4px; }
  .control-button--next-fs {
    padding-left: 64px;
    background-image: -webkit-linear-gradient(to left, #000, rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(to left, #000, rgba(0, 0, 0, 0));
    background-image: linear-gradient(to left, #000, rgba(0, 0, 0, 0)); }
  .control-button:hover {
    color: #D31345; }
    .control-button:hover .icon {
      background-color: #D31345; }

.rotate-button {
  background-color: unset;
  border: unset;
  padding: 4px;
  position: absolute;
  bottom: 64px;
  right: 24px; }

.convo-item {
  max-width: 100%;
  margin-bottom: 64px;
  display: grid;
  grid-template-columns: 250px auto;
  grid-gap: 40px; }
  @media (max-width: 650px) {
    .convo-item {
      display: block; } }
  @media (min-width: 1080px) {
    .convo-item {
      grid-template-columns: 400px auto; } }
  .convo-item__image {
    transition: all 200ms ease-in;
    filter: saturate(0%);
    width: 100%;
    max-width: 400px; }
    .convo-item__image:hover {
      filter: saturate(100%); }
  .convo-item__title {
    font-size: 32px;
    font-style: italic;
    border-bottom: 1px solid #FFF;
    margin-bottom: 16px; }
  .convo-item__text {
    margin: 16px 0; }
  .convo-item__name {
    font-family: "Cormorandt Garamond", Garamond, serif;
    font-weight: lighter;
    font-style: italic; }
  @media (max-width: 650px) {
    .convo-item__info {
      padding: 16px; } }

.g-photo {
  transition: all 200ms ease-in;
  filter: saturate(0%);
  width: 100%;
  flex-shrink: 0;
  flex-grow: 1;
  text-align: center; }
  .g-photo:hover {
    filter: saturate(100%); }
  @media (min-width: 875px) {
    .g-photo {
      width: calc(100%/2); } }
  @media (min-width: 1080px) {
    .g-photo {
      width: calc(100%/3); } }
  .g-photo__image {
    transition: all 200ms ease-in;
    max-width: 100%;
    margin: 0 auto; }
    @media (min-width: 875px) {
      .g-photo__image {
        max-width: 80%; } }
  .g-photo__info {
    margin: 16px; }
  .g-photo__title {
    font-family: "Cormorandt Garamond", Garamond, serif;
    font-weight: lighter;
    font-style: italic;
    font-size: 32px;
    margin-bottom: 4px; }

.icon {
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-position: center;
  mask-size: contain;
  -webkit-mask-size: contain;
  transition: all 200ms ease-in;
  display: inline-block;
  height: 36px;
  width: 36px;
  background-color: #000; }
  .icon--previous-gallery, .icon--previous-fs, .icon--previous-convo {
    -webkit-mask-image: url("../images/icons/arrow_back.svg");
    mask-image: url("../images/icons/arrow_back.svg");
    margin-right: 4px;
    margin-top: -2px; }
  .icon--next-gallery, .icon--next-fs, .icon--next-convo {
    -webkit-mask-image: url("../images/icons/arrow_forward.svg");
    mask-image: url("../images/icons/arrow_forward.svg");
    margin-left: 4px;
    margin-top: -2px; }
  @media (max-width: 875px) {
    .icon--control-button {
      height: 24px;
      width: 24px; } }
  .icon--close-fs {
    -webkit-mask-image: url("../images/icons/close.svg");
    mask-image: url("../images/icons/close.svg");
    margin-right: 4px;
    margin-top: -2px; }
  .icon--close-fs, .icon--next-fs, .icon--previous-fs {
    background-color: #FFF; }
  .icon--next-convo, .icon--previous-convo {
    background-color: #FFF;
    height: 32px;
    width: 32px; }
  .icon--rotate {
    -webkit-mask-image: url("../images/icons/rotate.svg");
    mask-image: url("../images/icons/rotate.svg");
    background-color: #FFF; }

.show {
  opacity: 1; }

.quotes {
  background-color: #000;
  color: #FFF;
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100%;
  width: 100%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 16px; }
  .quotes a {
    color: #FFF;
    transition: all 200ms ease-in; }
    .quotes a:hover {
      color: #D31345; }
  .quotes * {
    transition: all 1000ms ease-in; }
  @media (min-width: 875px) {
    .quotes {
      padding: 16px; } }
  @media (min-width: 1080px) {
    .quotes {
      padding: 64px 144px; } }
  .quotes__quote {
    font-family: "Cormorandt Garamond", Garamond, serif;
    font-weight: lighter;
    font-style: italic;
    margin-bottom: 24px; }
  .quotes__attribute {
    width: 100%;
    text-align: right;
    margin-bottom: 24px; }
  .quotes__text {
    margin-bottom: 24px; }
  .quotes__continue {
    width: 100%;
    text-align: right;
    margin-bottom: 24px; }
  .quotes #quote,
  .quotes #attribute,
  .quotes #text,
  .quotes #button {
    opacity: 0; }

.home {
  background-color: #000;
  color: #FFF;
  min-height: 100vh; }
  .home a {
    color: #FFF;
    transition: all 200ms ease-in; }
    .home a:hover {
      color: #D31345; }
  @media (min-width: 875px) {
    .home {
      display: grid;
      grid-template-columns: 400px auto; } }
  @media (min-width: 1080px) {
    .home {
      grid-template-columns: 600px auto; } }
  .home__photo {
    filter: saturate(0%);
    background-size: cover;
    background-position: center; }
    .home__photo--mobile {
      width: 100%;
      height: 50vh;
      margin: 16px 0; }
  @media (max-width: 875px) {
    .home__subtitle {
      font-size: 32px; } }
  @media (max-width: 875px) {
    .home__title-container {
      margin-top: 24px;
      padding: 16px; } }
  .home__info {
    max-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around; }
    @media (min-width: 875px) {
      .home__info {
        padding: 24px 40px; } }
  .home__presented-by {
    max-width: 60%; }
    @media (max-width: 875px) {
      .home__presented-by {
        max-width: 100%;
        padding: 16px; } }
  .home__logo {
    width: 200px;
    padding: 4px 0; }
  @media (max-width: 875px) {
    .home__enter {
      padding: 16px; } }
  .home__enter-link {
    text-align: right;
    padding-right: 64px; }
    @media (max-width: 875px) {
      .home__enter-link {
        padding: 16px; } }

.gallery {
  /* hide scrollbar in webkit browser */ }
  .gallery__photos {
    width: 100%;
    position: relative;
    display: flex;
    transition: all 250ms linear;
    -ms-overflow-style: none;
    /* hide scrollbar in IE and Edge */
    scrollbar-width: none;
    /* hide scrollbar in Firefox */ }
    .gallery__photos::-webkit-scrollbar, .gallery__photos::-moz-scrollbar {
      display: none; }
  .gallery__photos-wrapper {
    overflow: hidden;
    width: 100%; }
  .gallery__continue {
    display: flex;
    justify-content: center; }
  .gallery__controls {
    display: flex;
    justify-content: space-between;
    margin: 16px 24px; }
    @media (min-width: 1080px) {
      .gallery__controls {
        margin: 24px 64px; } }

.conversation {
  background-color: #000;
  color: #FFF;
  padding-bottom: 16px; }
  .conversation a {
    color: #FFF;
    transition: all 200ms ease-in; }
    .conversation a:hover {
      color: #D31345; }
  .conversation__intro {
    text-align: center;
    padding: 40px; }
  .conversation__intro-text {
    font-size: 20px; }
    @media (min-width: 1080px) {
      .conversation__intro-text {
        font-size: 32px; } }
  .conversation__list {
    margin: 0 auto;
    padding: 0 64px; }
    @media (max-width: 650px) {
      .conversation__list {
        padding: 0; } }
    @media (min-width: 1080px) {
      .conversation__list {
        padding: 0 144px; } }

.photo-convo {
  background-color: #000;
  color: #FFF;
  padding: 4px 0; }
  .photo-convo a {
    color: #FFF;
    transition: all 200ms ease-in; }
    .photo-convo a:hover {
      color: #D31345; }
  @media (min-width: 875px) {
    .photo-convo {
      padding: 4px 40px; } }
  .photo-convo__section {
    max-width: 750px;
    margin: 24px auto;
    display: flex;
    flex-flow: row wrap; }
  .photo-convo__response-container {
    padding: 24px; }
  .photo-convo__image-container {
    display: flex;
    justify-content: center; }
  .photo-convo__button-container {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .photo-convo__interactive-buttons {
    display: flex;
    justify-content: center; }
  .photo-convo__nav {
    height: fit-content; }
  .photo-convo__image {
    max-width: 100%; }
  .photo-convo__form {
    transition: all 200ms ease-in;
    display: block;
    max-width: 650px;
    max-height: 650px;
    margin: 0 auto;
    overflow: hidden; }
    @media (max-width: 650px) {
      .photo-convo__form {
        padding: 16px; } }
    .photo-convo__form--hidden {
      display: none;
      max-height: 0px; }
  .photo-convo__input {
    display: block;
    width: 100%;
    margin-bottom: 4px;
    min-height: 28px;
    border-radius: 3px;
    border: 2px solid #555;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px; }
    .photo-convo__input:focus {
      border-color: #D31345; }
    .photo-convo__input--names {
      display: inline-block; }
    .photo-convo__input--consent {
      display: grid;
      place-content: center;
      appearance: none;
      background-color: #000;
      margin: 0;
      font: inherit;
      color: #D31345;
      width: 18px;
      min-height: unset;
      height: 18px;
      border: 2px solid #D31345;
      border-radius: 2px;
      transform: translateY(-0.075em);
      margin-top: 16px; }
      .photo-convo__input--consent::before {
        content: "";
        width: 10px;
        height: 10px;
        transform: scale(0);
        box-shadow: inset 12px 12px #D31345;
        transform-origin: bottom left;
        clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%); }
      .photo-convo__input--consent:checked::before {
        transform: scale(1); }
  .photo-convo__label {
    display: block;
    padding: 8px 0; }
  .photo-convo__input-container {
    margin-bottom: 8px; }
    @media (min-width: 650px) {
      .photo-convo__input-container#first_name_container, .photo-convo__input-container#last_name_container {
        display: inline-block;
        width: 48%; } }
    @media (min-width: 650px) {
      .photo-convo__input-container#first_name_container {
        margin-right: 22px; } }
    .photo-convo__input-container#consent_to_share_container {
      display: grid;
      grid-template-columns: 20px auto;
      grid-gap: 8px; }
  .photo-convo__form-button {
    display: block;
    margin: 0 auto; }

.about {
  padding: 16px 24px; }
  @media (min-width: 1080px) {
    .about {
      padding: 24px 144px; } }
  .about__image {
    max-width: 450px;
    float: left; }
    .about__image--playwright {
      margin-left: 40px;
      float: right; }
    .about__image--artist {
      margin-right: 40px;
      margin-bottom: 40px; }
    @media (max-width: 875px) {
      .about__image {
        max-width: 100%;
        margin: 0;
        margin-bottom: 24px; } }
  .about__barrier {
    margin-bottom: 40px; }
  .about__text {
    margin: 40px 0; }
    .about__text:first-of-type {
      margin-top: 0; }
  .about__show-info {
    display: flex;
    flex-direction: column;
    justify-content: end; }
  .about__show-title {
    font-family: "Cormorandt Garamond", Garamond, serif;
    font-weight: bold;
    font-style: italic;
    font-size: 48px; }
  .about__show-image {
    max-width: 100%; }
  .about__show-text-container {
    margin-bottom: 40px; }
    @media (max-width: 650px) {
      .about__show-text-container {
        margin-bottom: 24px; } }
  .about__show-dates {
    font-family: "Cormorandt Garamond", Garamond, serif;
    font-weight: bold;
    font-style: italic;
    margin-bottom: 24px; }
  .about__show-info-container {
    padding-bottom: 24px; }
    @media (min-width: 650px) {
      .about__show-info-container {
        display: grid;
        grid-template-columns: 450px auto;
        grid-gap: 64px;
        padding-bottom: 40px; } }

.fs-photo {
  position: fixed;
  top: 0;
  bottom: 0;
  background-color: #000;
  width: 100%;
  display: flex;
  justify-content: center; }
  @media screen and (max-width: 875px) and (orientation: portrait) {
    .fs-photo--rotated {
      transform: rotate(-90deg);
      transform-origin: left top;
      width: 100vh;
      height: 100vw;
      overflow-x: hidden;
      position: absolute;
      top: 100%;
      left: 0; } }
  .fs-photo__control-wrapper {
    position: fixed;
    top: 40px;
    width: 100%;
    z-index: 1; }
  .fs-photo__controls {
    display: flex;
    justify-content: space-between; }
  .fs-photo__wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center; }
  .fs-photo__image {
    max-height: 100vh;
    margin: 0 auto; }
    @media (max-width: 875px) {
      .fs-photo__image {
        max-height: 100%; } }
  .fs-photo__info-wrapper {
    position: absolute;
    bottom: 0;
    right: 0; }
  .fs-photo__info {
    background-color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 24px; }
  .fs-photo__title {
    font-size: 20px;
    padding-right: 4px; }
  .fs-photo__description {
    border-left: 1px solid #000;
    padding-left: 4px;
    font-size: 16px; }
